<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @student.sex %>
</p>

<p>
  <strong>English:</strong>
  <%= @student.english %>
</p>

<p>
  <strong>Khmer:</strong>
  <%= @student.khmer %>
</p>
<p>
  <strong>Math:</strong>
  <%= @student.math %>
</p>
<p>
  <strong>img:</strong>
  <%= @student.img %>
</p>
<p>
  <strong>movice :</strong>
  <%= @student.movice %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
